{% extends "base.html" %}
{% block content %}
<div class="panel">
    <h2>Import existing configuration</h2>
    <form method="post" enctype="multipart/form-data" class="form">
        <label>Name of imported config (optional)
            <input type="text" name="name" placeholder="e.g. production-1">
        </label>

        <label>Additional config info (optional)
            <textarea name="description" rows="3"
                      placeholder="Put config description here..."></textarea>
        </label>

        <label>JSON File
            <input type="file" name="file" accept="application/json">
        </label>
        <p class="muted">Or put JSON below:</p>
        <label>JSON
            <textarea name="json" placeholder="{ ... }"></textarea>
        </label>
        <div class="form-actions">
            <button class="btn" type="submit">Import</button>
            <a class="btn btn-secondary" href="{{ url_for('index') }}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}